<div class="hero-and-nav-container just-the-image"></div>

<mat-card class="big-card-wrapper">
  <div class="centered-block markdown-container mat-typography">
    <h1 *ngIf="title$ | async as title">{{ title }}</h1>
    <p class="mat-body-2">
      {{ date$ | async }}
      <ng-container *ngIf="author$ | async as author">
        •
        {{ author }}
      </ng-container>
    </p>
    <!-- This is where Scully will inject the static HTML -->
    <scully-content></scully-content>
    <div data-chirpy-comment="true"></div>
  </div>
</mat-card>
